{"is_source_file": true, "file_id": 3, "git_revision": "7578113a3a90cee322138e39c54767f65925d94f", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "filename": "/tmp/kavia/workspace/code-generation/collegeTestDB/requirements.txt", "hash": "799ddf042ff1d7604515c9820c6eeae8", "format-version": 4, "code-base-name": "default", "knowledge_revision": 6}