{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 3, "knowledge_revision": 7, "git_revision": "7578113a3a90cee322138e39c54767f65925d94f", "filename": "/tmp/kavia/workspace/code-generation/collegeTestDB/requirements.txt", "hash": "799ddf042ff1d7604515c9820c6eeae8", "format-version": 4, "code-base-name": "default", "revision_history": [{"7": "7578113a3a90cee322138e39c54767f65925d94f"}]}