{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 47, "knowledge_revision": 110, "git_revision": "19eb208c34b21c3c9a377e567b1016f123c27679", "filename": "/tmp/kavia/workspace/code-generation/collegeTestDB/requirements.txt", "hash": "8a3fa27fb1fdd9a4d16617c99d2ad7f8", "format-version": 4, "code-base-name": "default", "revision_history": [{"110": "19eb208c34b21c3c9a377e567b1016f123c27679"}]}